* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 .container{
    max-width: 30rem;
    margin: auto;
 }
 .row{
    display: flex;
    flex-wrap: wrap; 
 }

.col-33{
    width: 33%;  
}
.col-67{
    width: 67%;
}


/* ticket */
.ticket {
    display: none;
}
.ticket-on{
    display: block;
}
 #show-name {
    margin: 10px 0;
    font-weight: bold;
 }
 
 #ticket-info {
    width: 100%;
 }
 
 /* table */
 #ticket-info td, #ticket-info th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 #ticket-info tr:nth-child(even){
    background-color: #f2f2f2;
 }
 
 #ticket-info tr:hover {
    background-color: #ddd;
 }
 
 #ticket-info th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: black;
   color: white;
 }
